@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .footer-social-media{
        @apply inline px-2 mt-2 text-2xl text-[#ffc277] hover:scale-[1.2] hover:duration-300;
    }
    .footer-links{
        @apply text-base hover:text-[#ffc277] hover:duration-200;
    }
    .success-card-image{
        @apply text-[#feba66] mx-auto text-center border-[#feba66] p-8 rounded-3xl border-solid border-2 text-[100px];
    }
    
    .service-drop-down{
        @apply w-6/12 border border-[#ffc277] border-solid mx-1 focus:border-2;
    }

    .service-card{
        @apply flex overflow-hidden min-h-[224px]  border-[#ffc277] w-8/12 mx-auto my-5 
        text-center border rounded-md drop-shadow-lg hover:bg-[#ffc98895];
    }

    .service-card-area{
        @apply my-10
    }

    .service-card-icon{
        @apply mr-2 text-[#c26d06];
    }

    .service-card-icon-details{
        @apply flex items-center mr-6;
    }

    .provider-detail-dialog-box-icon{
        @apply text-3xl hover:scale-[1.1] rounded-full p-2 hover:duration-300 hover:text-[#c26d06] hover:bg-[#ffd09b];
    }

    .pro-dialog-h3{
        @apply flex items-center mr-6 my-1 text-[#000]
    }

    .pro-dialog-span{
        @apply mx-1 text-[#c26d06]
    }

    .buttonIn{
        @apply  relative;
    }

    .showPw{
        @apply flex items-center px-3 ml-1 /*border-2 border-[#c26d06] border-solid*/ text-[#c26d06] text-xl font-bold cursor-pointer;
    }

    .form-input-main-div{
        @apply flex justify-between w-full;
    }

    .form-input-sub-div{
        @apply w-[49%] col-span-5 my-3 buttonIn sm:col-span-4;
    }

    .form-textfield-double{
        @apply w-full;
    }

    .login-form-btn{
        @apply inline-flex items-center justify-center px-4 py-2 text-base font-medium text-white bg-[#ffa537] border border-transparent rounded-md shadow-sm hover:bg-[#d48019] focus:outline-none focus:ring-2 focus:ring-[#d48019] focus:ring-offset-2 w-full;
    }

    .upadate-propic{
         @apply border-2 border-solid w-[500px] border-[#000] opacity-100 h-[500px] mx-auto hover:bg-[#000]; /* bg-gradient-to-r from-cyan-500 to-blue-500; */
    }

    .my-event-card-btn{
        @apply  h-10 px-2 py-1 hover:text-[#ffff] rounded-md items-center  duration-300 border-2 border-solid;
    }
}

.upadate-propic{
    background-image: url('img/man.jpg');
    background-size: cover;
    border-radius: 100%;
    color:transparent;
}

.parallax {
    /* The image used */
    background-image: url("img/parallax.jpg");
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.MuiTabs-indicator{
    background-color: #ffa537 !important;
}
.Mui-selected{
    color: #ffa537 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
    background-color: #ffa537 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: #ffa537 !important;
}